@import "default";

@mixin paragraphFormats {
    margin-bottom: 30px;
    justify-content: center;
}


// Variables
$myfont1: 'Yaldevi', sans-serif;
$myfont2: 'Open Sans', sans-serif;
$headerfont: #0C120C;
$textfont: #080C08;
$background: #41BBD9;
$resumebackground: #FCF9ED;

body {
    overflow-x: hidden;
}

.pageContainer {
    display: flex;
    height: 100%;
    width: 100vw;
    background-color: $background;
        .resumeContainer {
            background-color: $resumebackground;
            margin: auto;
            width: 1200px;
                .resumeHeader {
                    width: 100%;
                    height: 200px;
                    background-image: url(../imgs/pexels-jonathan-borba-3155583.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
        }
}   

.headerName {
    font-family: $myfont1;
    color: white;
    font-size: 48px;
    padding-top: 10px;
    padding-left: 75px;
}

.headerTitle {
    font-family: $myfont1;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 75px;
}


// Body Left 

.bodyContainer {
    display: flex;
}

.bodyLeft {
    border-right: 3px solid black;
    padding-right: 40px;
}

.contactTitle {
    font-family: $myfont1;
    font-size: 30px;
    padding-left: 75px;
    padding-top: 15px;
    text-decoration: underline;
}

.addressHeader {
    font-family: $myfont2;
    font-weight: bold;
    padding-left: 75px;
}

.addressContent {
    font-family: $myfont2;
    padding-left: 75px;
}

.phoneHeader {
    @extend .addressHeader;
}

.phoneContent {
    @extend .addressContent;
}

.emailHeader {
    @extend .addressHeader;
}

.emailContent {
    @extend .addressContent;
}

.websiteHeader {
    @extend .addressHeader;
}

.websiteContent {
    @extend .addressContent;
}

.skillsTitle {
    font-family: $myfont1;
    font-size: 30px;
    padding-left: 75px;
    padding-top: 15px;
    text-decoration: underline;
}

.htmlHeader {
    @extend .addressHeader;
}

.htmlContent {
    @extend .addressContent;
}

.cssHeader {
    @extend .addressHeader;
}

.cssContent {
    @extend .addressContent;
}

.scssHeader {
    @extend .addressHeader;
}

.scssContent {
    @extend .addressContent;
}

.bootstrapHeader {
    @extend .addressHeader;
}

.bootstrapContent {
    @extend .addressContent;
}

.javascriptHeader {
    @extend .addressHeader;
}

.javascriptContent {
    @extend .addressContent;
}

.referenceTitle {
    font-family: $myfont1;
    font-size: 30px;
    padding-left: 75px;
    padding-top: 15px;
    text-decoration: underline;
}

.referenceOneHeader {
    @extend .addressHeader;
}

.referenceOneNumber {
    @extend .addressContent;
}

.referenceTwoHeader {
    @extend .addressHeader;
}

.referenceTwoNumber {
    @extend .addressContent;
}

// Body Right

.bodyRight {
    margin-right: 150px;
}

.profileTitle {
    font-family: $myfont1;
    font-size: 30px;
    padding-left: 75px;
    padding-top: 15px;
    text-decoration: underline;
}
.profileContent {
    @extend .addressContent;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

.socialTitle {
    font-family: $myfont1;
    font-size: 30px;
    padding-left: 75px;
    padding-top: 15px;
    text-decoration: underline;
}

.linkedinLink{
    @extend .addressContent;
    text-decoration: none;
    font-size: 20px;
}

.linkedinLink:visited {
    color: blue;
}

.twitterLink {
    @extend .addressContent;
    text-decoration: none;
    font-size: 20px;
}

.twitterLink:visited {
    color: blue;
}

.educationTitle {
    font-family: $myfont1;
    font-size: 30px;
    padding-left: 75px;
    padding-top: 15px;
    text-decoration: underline;
}

.educationHeader {
    @extend .addressHeader;
    font-size: 20px;
}

.educationContent {
    @extend .addressContent
}

.workHistoryContainer {
    @include paragraphFormats();
}

.experienceTitle {
    font-family: $myfont1;
    font-size: 30px;
    padding-left: 75px;
    padding-top: 15px;
    text-decoration: underline;
}

.experienceOneHeader {
    @extend .addressHeader;
    font-size: 20px;
}

.experienceOneContent {
    @extend .addressContent;
}

.experienceOneBody {
    @extend .addressContent;
}

.experienceTwoHeader {
    @extend .addressHeader;
    font-size: 20px;
}

.experienceTwoContent {
    @extend .addressContent;
}

.experienceTwoBody {
    @extend .addressContent;
}

.experienceThreeHeader {
    @extend .addressHeader;
    font-size: 20px;
}

.experienceThreeContent {
    @extend .addressContent;
}

.experienceThreeBody {
    @extend .addressContent;
}
