@import "default";

@mixin paragraphFormats {
    
}


// Variables
$myfont1: 'Yaldevi', sans-serif;
$myfont2: 'Open Sans', sans-serif;
$headerfont: #0C120C;
$textfont: #080C08;
$background: #41BBD9;
$resumebackground: #FCF9ED;


